{% extends "global.html" %}
{% block head %}
{% endblock %}

{% block document_ready %}
{% endblock %}

{% block content %}
<!-- Replace Static Data with variables-->
<div class="container-fluid" style="min-height:400px;">

	<div class="row">
		<div id="title">
			<h1 style="font-size: 25px; float: none; margin-bottom: 10px">GDG DevFest
				around the world !</h1>
		</div>
		<hr class="thin-line">
	</div>
	<div class="span3">
		<div class="row">
			<span style="margin-left: 5px"> <img src="images/gdgbig.png">
			</span>
		</div>
	</div>
	<div id="event-list-container">
		<div class="span9">
			<div class="row">
				<div class="event-column">
					<iframe src="https://www.google.com/calendar/embed?dates=20120922/20120923&title=DevFest%20Berlin&showNav=0&showTabs=0&showCalendars=0&mode=AGENDA&height=600&wkst=2&bgcolor=%23FFFFFF&src=surmair.de_5n3dfjn1etttsaaiirrmvfpqb0%40group.calendar.google.com&color=%235229A3&ctz=Europe%2FBerlin" style=" order-width:0 " width="800" height="600" frameborder="0" scrolling="no"></iframe>
			</div>
		</div>
	</div>
</div>

{% endblock %}
